<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary" [hidden]="esconderBarra()">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
          <a class="navbar-brand text-light" href="#" [routerLink]="['/home']"
          routerLinkActive="router-link-active">
            Home
          </a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" >

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"Usuário [routerLink]="['/usuarioList']"
                routerLinkActive="router-link-active">
                  usuario</a>
                <a class="dropdown-item" href="#">2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">3</a>
              </div>
            </li>

            <li class="nav-item" id="logout-left">
              <a class="nav-link active text-light" aria-current="page" href="#" (click)="sair()">
                Sair
              </a>
            </li>
          </ul>

        </div>
      </div>
    </nav>




  </body>
</html>

<router-outlet></router-outlet>
