<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add User</title>
</head>
<body>
  <h3 class="text-center mt-5">Cadastro de Usuário</h3>

  <form #formValidation="ngForm" > <!--Linha de componentes -->
<div class="form-row">
<div class="form-group col-md-1 offset-md-3">
<label for="id">ID</label>
<input type="text" [(ngModel)]="usuario.id"  name="id" class="form-control" id="id" readonly autocomplete="false"/>

</div>



<div class="form-group col-md-5 offset-md-0">
  <label for="h1 nome">Nome</label>
  <span class="text-danger" *ngIf="nomeValidate.invalid"> *</span>
  <input type="text" #nomeValidate="ngModel" [(ngModel)]="usuario.nome"  name="nome" id="nome" class="form-control" required="true" autocomplete="false"/>
</div>
</div>

<div class="form-row">
<div class="form-group col-md-6 offset-md-3">
<label for="login">Login</label>
<span  class="text-danger"*ngIf="loginValidate.invalid"> *</span>
<input type="text" #loginValidate="ngModel" [(ngModel)]="usuario.login"  name="login" id="login" class="form-control" required="true" autocomplete="false" min="4" max="12"/>
</div>

</div>

<div class="form-row">
<div class="form-group col-md-6 offset-md-3">
  <label for="password">Senha</label>
  <span class="text-danger" *ngIf="senhaValidate.invalid"> *</span>
  <input type="password" #senhaValidate="ngModel" [(ngModel)]="usuario.senha"  name="senha" id="senha" class="form-control" required="true" autocomplete="false" min="6" max="12"/>
</div>
</div>

<div class="form-row">
  <div class="form-group col-md-3 offset-md-3">
    <label for="cpf">CPF</label>
    <span class="text-danger" *ngIf="cpfValidate.invalid"> *</span>
    <input type="text" #cpfValidate="ngModel" [(ngModel)]="usuario.cpf"  name="cpf" id="cpf"
    class="form-control" required="true" autocomplete="false" min="11" max="11" mask="000.000.000-00" />
  </div>


  <div class="form-row">
    <div class="form-group  offset-md-2">
      <label for="dataNascimento">Data de Nascimento</label>
        <span class="text-danger"*ngIf="dataNasc.invalid"> *</span>
      <div class="form-inline">
       <div class="form-group">
        <input type="text"   #dataNasc="ngModel" name="dataNascimento" id="dataNascimento" class="form-control"
        required="true" autocomplete="false" placeholder="dd/mm/yyyy" ngbDatepicker
        #dataNascimento1="ngbDatepicker"  [(ngModel)]="usuario.dataNascimento"  ng-required="true"/>
        <div class="input-group-append">
          <button class='btn btn-outline-secondary calendar apr'  (click)="dataNascimento1.toggle()" type="button">
            <img src="https://iconarchive.com/download/i103365/paomedia/small-n-flat/calendar.ico"
            width="25" height="20"/>
          </button>
        </div>

      </div>
    </div>
      </div>
    </div>


</div>
<div class="form-row">
  <div class="form-group col-md-4 offset-md-3">
    <label for="profissao">Profissão</label>
    <span *ngIf="profissaoValidate.invalid">*</span>
    <select [(ngModel)]="usuario.profissao" id="profissao" name="profissao"
      #profissaoValidate="ngModel" class="form-control" required="true">
      <option>Desenvolvedor Java</option>
      <option>Analista DBA</option>
      <option>Gerente de Projetos</option>
      <option>Analista de Requisitos</option>

    </select>
  </div>
</div>

 <div class="form-row">
  <div class="form-group col-md-6 offset-md-3">
    <label for="cpf">Salário</label>
    <span *ngIf="salarioValidate.invalid"> *</span>
    <input   #salarioValidate="ngModel" [(ngModel)]="usuario.salario" name="salario"
    id="salario" class="form-control" required="true" autocomplete="false"
    currencyMask [options]="{prefix : 'R$', thousands: '.', decimal : ','}" />

  </div>
  </div>

  <div class="card text-center col-md-6 offset-md-3">
    <div class="card-header">Telefone de Contato</div>
    <div class="card-body pl-1">
      <div class="form-row">
        <label>Número:</label>
        <input type="tel" mask="(00) 0 0000-0000" class="form-control"  [(ngModel)]="telefone.numero"
          id="numero" name="numero" placeholder="(99) 9 9999-9999" />
          <!--name tem que ser o mesmo que do atributo numero-->
          <label>Tipo:</label>
          <input type="text" class="form-control"   id="tipo" name="tipo"  [(ngModel)]="telefone.tipo">
        <button class="btn btn-success mt-2" (click)="addFone()">
          Adicionar
        </button>
        </div>
    </div>
  </div>

   <table class="table table-bordered col-md-6 offset-md-3 mt-4">
     <tbody>
       <tr *ngFor="let fone of usuario.telefones; let i = index;">
         <td>{{fone.id}}</td>
         <td>{{fone.numero}}</td>
         <td>{{fone.tipo}}</td>
         <td><button class="btn btn-danger" (click)="deletarTelfone(fone.id, i)">Delete

         </button></td>
       </tr>
     </tbody>
   </table>


  <div class="form-row ">

    <div class="form-group col-md-4 offset-md-3">

      <button type="submit"  (click)="salvarUser()" class="btn btn-success" >
        Salvar
      </button>
     <!--[disabled]="formValidation.invalid" -->


      <button type="button" (click)="novo()" class="btn btn-primary  ml-2">
        Novo
      </button>


      <button type="button"  class="btn btn-secondary  ml-2" [routerLink]="['/usuarioList']">
        Voltar
      </button>
    </div>
  </div>

  </form>



</body>
</html>
